
$background-color:#fafafa;
$primary-color:#dedede;
$dark-color-dark:#151515;
$secondary-color:saddlebrown;
$accent-color:teal;
$action-color:slategrey;
$warning-color:yellow;
$dark-color:darkslategrey;



html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: $background-color;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:link {
  color: black;
}
a:hover {
  color: blue;
}
.card {
  border: 1px #dfdfdf solid;
  background-color: $primary-color;
  margin: 10px;
  padding: 10px;
}
.contain {
  max-width: 800px;
  margin: auto;
}

.emptyButton {
  background-color: inhert;
  padding: 5px;
  border: 1px solid $action-color;
  font-size: 1.1em;
  border-radius: 20px;
  display: inline-block;
  color: $action-color;
}

.solidButton {
	color: #fff;
	background-color: $action-color;
	border-color: #07c;
	box-shadow: inset 0 1px 0 #66bfff;
  padding:7px;
  display:inline-block;
}

.infoBox .card div{
	margin-bottom: 10px;
}

.navBar {
  position: relative;
  padding: 10px 5px;
  background-color: $primary-color;
  .logo {
    font-size: 1em;
    font-kerning: none;
    float: left;
    transform: translate(50px,0px)scale(1.5,1.5);
  }
  ul {
    list-style: none;
    float: right;
  }
  li {
    display: inline-block;
    font-family: serif;
    font-variant: small-caps;
    padding-right: 10px;
  }
}
.questionList {
  list-style: none;
}
.questionListItem {
  background-color: $primary-color;
  width: 100%;
  margin-bottom: 3px;
  span:link {
    text-decoration: none;
  }
  .questionText {
    padding-top: 10px;
    margin-left: 5px;
    display: block;
    float: left;
  }
  .tags {
    float: left;
    div {
      width: 3.5em;
      font-size: 15px;
      background-color: $dark-color;
      float: left;
      padding: 5px;
      outline: 0.25px solid #ddd;
      span {
        display: block;
        text-align: center;
        font-variant: small-caps;
        color: $primary-color;
      }
    }
    div:hover {
      background-color: $dark-color-dark;
      float: left;
      padding: 5px;
      outline: 0.25px solid #eee;
    }
  }
}
.clearfix {
  visibility: hidden;
  display: block;
  font-size: 0;
  clear: both;
  height: 0;
}
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.cf:after {
  clear: both;
}

.shownModal{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	width:300px;
	height:300px;
	background-color: $background-color;
	transition: 1s;
	overflow:hidden;
}

.hiddenModal{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	height:0px;
	overflow: hidden;
}

.darkScreen{
	position: fixed;
	width:100vw;
	height:100vh;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	background-color: rgba(10,10,10,.5);
	transition: background-color 1s;
}

.shownModal .cancel{
	color: green;
	font-size: 12;
	position: absolute;
	right:10px;
	top:10px;
}

.centerDiv{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  height:50%;
  width:50%;
}

.register input{
  width:60%;
  display: block;
  margin: 5px auto;
}

.register button{
  margin: 4px auto;
  display: block;
}
.smallButton {
  font-size: .5em;
  padding: 3px;
  margin-top: 30px;
}
